$cover-color: rgb(152, 198, 241);
$white-color: white;

body {
  background: $cover-color;
  background: linear-gradient(270deg, $cover-color 0%, $white-color 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
