<div class="wrapper">
  <div class="wrapper__timer timer">
    <div class="timer__minutes">
      <div class="timer__title">{{minutes | number: '2.0'}}<span>h</span></div>
      <div class="timer__actions">
        <button>-</button>
        <button>+</button>
      </div>
    </div>
    <div class="timer__seconds">
      <div class="timer__title">{{seconds | number:'2.0'}}<span>m</span></div>
      <div class="timer__actions">
        <button>-</button>
        <button>+</button>
      </div>
    </div>
    <div class="timer__milliseconds">
      <div class="timer__title">{{milliseconds}}<span>s</span></div>
      <div class="timer__actions">
        <button>-</button>
        <button>+</button>
      </div>
    </div>
  </div>
  <div class="wrapper__timer action">
    <button (click)="start()"><mat-icon>play_arrow</mat-icon></button>
    <button><mat-icon>stop</mat-icon></button>
    <button><mat-icon>replay</mat-icon></button>
  </div>
</div>